<!DOCTYPE html>
<html>
    <head>
        <title>Trial chart with bokeh</title>
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css">
        <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css">
    </head>

    <body>
        <!-- <h1>Plot: {{ plot_title }}</h1> -->
        {{ the_div|safe }}
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
        <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
        {{ the_script|safe }}
    </body>
</html>
