<!DOCTYPE html>
<html>
    <head>
        <title>Trial chart with bokeh</title>
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.css">
        <link rel="stylesheet" href="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.css">
    </head>

    <body>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-0.13.0.min.js"></script>
        <script src="https://cdn.pydata.org/bokeh/release/bokeh-widgets-0.13.0.min.js"></script>
        {{ the_div|safe }}
        {{ the_script|safe }}
        <br>
        {{ plot_title }}
    </body>
</html>
